# Environment variables
.env

# Flask instance folder
instance/

# ML models (avoid large files in repo)
app/ml/saved_models/

# Logs
logs/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/